	body {
	  background: rgb(204,204,204); 
          color: black;
	}
	page {
	  background: white;    
	  display: block;
	  margin: 0 auto;
	  margin-bottom: 0.5cm;
	  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
	}
	page[size="A4"] {  
	  width: 21cm;
	  height: 29.7cm; 
	}
	page[size="A4"][layout="portrait"] {
	  width: 29.7cm;
	  height: 21cm;  
	}
	@media print{
	  body, page {
	    margin: 0;
	    box-shadow: 0;
	    color: rgba(0, 0, 0, 1);
        -webkit-print-color-adjust: exact;
	  }
          
          #absent{
              color: red;
          }
          #present{
              color: green;
          }
	}
        
        /*==============================index report==============*/
        .report_menu1{
            width: 200px;
             height: 200px;
             background-color: #ff6600;
            
        }
        .report_menu2{
             width: 200px;
             height: 200px;
             background-color: #666666;
        }
        .report_menu3{
             width: 200px;
             height: 200px;
             background-color: #5bc0de;
            
        }
        
	